body
{
    background: gray;
    font-family: Optima,sans-serif;
    font-size: 25px;
}


#header
{
    display: flex;
    background-color: aliceblue;
    width: 120%;
    top: auto;
    position: fixed;

    
}

#sidenav
{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 160px;
    left: 10px;
    background: aliceblue;
    overflow-x: hidden;
    padding: px 8;

}
#sidenav a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}